:root {
  --green: #002500;
  --moss:#929982;
  --desert:#EDCBB1;
  --rose: #B7245C;
  --wine:#7C3238;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

body{
  background-color: var(--desert);
}

header{
  background-color: var(--green);
  color: white;
  width: 90%;
  margin: 10px auto;
}

input{
  text-align: center;
  margin: 20px auto;
  border: var(--rose) solid 2px;
}

.weather-list{
  flex: 100%;
    padding: 1.25em;
    display: flex;
    flex-wrap: wrap;
    padding-top: 0;
   justify-content: center;
  }


.weather-card{
  background-color: var(--moss);
  width: 30%;
  margin: 0.5em;
  display:grid;
  justify-content: center;
  box-shadow: #573102 5px 6px 20px 0px;
  border-radius: 0.5em;
  color:var(--wine);
  font-weight: bold;
  font-size: large;
}

p,h4{
  color: var(--wine);
  margin: 20px auto;
}
h3{
  color: var(--green);
}

button{
  color: var(--rose);
  border: var(--rose) solid 2px !important;
}

